[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine.git
	branch = v9.x-binary
[submodule "stripFS"]
	path = stripFS
	url = https://github.com/acidicneko/stripFS.git
